# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
ENV/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
.cache.sqlite
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db
