fastapi==0.109.0
uvicorn==0.27.0
python-dotenv==1.0.0
sqlalchemy==2.0.25
alembic==1.13.1
pytest==7.4.4
httpx==0.26.0
pandas==2.2.3
joblib==1.5.0
lightgbm==4.6.0
scikit-learn==1.6.1
openmeteo_requests==1.4.0
openmeteo_sdk==1.20.0
requests-cache==1.2.1
retry_requests==2.0.0
